body {
    padding-top: 51px;
    padding-bottom: 100px;
    height: 100%;
    bottom: 0;
}
html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.note-add {
	background-color: #95D5DB;
	height: 25px;

}

.note-list {
	background-color: #BAE5E8;
    font-size: 13pt;
    font-weight: 300;
    height: 100%;
    min-height: 100%;

    bottom: 0;
}

.note-menu-top-time {
    font-size: 10pt;
}

.note > div {
    padding-left: 0;
    padding-right: 0;
}


.note {

}
.note-name {
    overflow:hidden;
}
@media screen and (max-width : 767px) {
	.brand-text {
		display:none;
	}
	.note-list.disabled {
		display:none;
	}
}

@media screen and (min-width : 767px) {
	.brand-button {
		display:none;
	}
    .note-list {
		display: block;
        height: 100%;
	}
}

.note-menu-top {
    font-size: 16pt;
}

.content-item {
    padding: 15px;
}

.content-separator {
    border-bottom: solid 1px #e3e3e3;

}

.c-note-text {
    width: 100%;
    min-height: 250px;
    border: solid #fff 1px;

}
.c-note-name {
    width: 100%;
    border: solid #fff 1px;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #e6f5fa;
}

/*Отключить подсветку TODO @input-border-focus*/
textarea:hover,
textarea:active,
textarea:focus,
input[type=text]:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-sharp-note {
     border-left-color: #94B5B2;
 }
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}